
.vs/CWishlist_win/v15/Server/sqlite3/storage.ide-wal
.vs/CWishlist_win/v15/.suo
.vs/CWishlist_win/v15/Server/sqlite3/storage.ide
.vs/CWishlist_win/v15/Server/sqlite3/storage.ide-wal
.vs/CWishlist_win/v15/.suo
.vs/CWishlist_win/DesignTimeBuild/.dtbcache
.vs/CWishlist_win/DesignTimeBuild/.dtbcache
.vs/CWishlist_win/v15/.suo
.vs/CWishlist_win/v15/Server/sqlite3/storage.ide-shm
.vs/CWishlist_win/v15/Server/sqlite3/storage.ide-wal
